
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: bookcrossing/app:latest
    container_name: bookcrossing-app
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./.env:/app/.env:ro
    environment:
      - PORT=${PORT}
    ports:
      - "${PORT:-1010}:${PORT:-1010}"
    command: ["./app"] # просто запускаем бинарь, wait-for-it не нужен

  postgres:
    image: postgres:16-alpine
    container_name: bookcrossing-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "${DB_PORT:-5432}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 20

  redis:
    image: redis:7-alpine
    container_name: bookcrossing-redis
    restart: unless-stopped
    ports:
      - "${REDIS_PORT:-6379}:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  pgdata:
